<div>
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a class="nav-link" routerLink="/">Home</a>
      <ng-template ngbNavContent> </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a class="nav-link" routerLink="/login">Log-In</a>
      <ng-template ngbNavContent> </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a class="nav-link" routerLink="/plans">Plans</a>
      <ng-template ngbNavContent> </ng-template>
    </ng-container>
    <ng-container ngbNavItem class="">
      <a class="nav-link" href="/login">Logout</a>
      <ng-template ngbNavContent> </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<div id="container" class="mainPage">
  <router-outlet></router-outlet>
</div>
