<div class="fullscreen">
  <section class="pricing-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-xl-5 col-lg-6 col-md-8">
          <h2
            class="section-title text-center title-ex1"
            style="margin-bottom: 3rem"
          >
            <u>Welcome {{userName}}!</u>
          </h2>
          <div class="section-title text-center title-ex1">
            <h2>Our Plans!</h2>
          </div>
        </div>
      </div>
      <!---------------------Plans Table---------------------------->
      <div class="container" id="main-container">
        <div class="row">
          <div *ngFor="let plan of plansList" class="col-md-4">
            <div class="price-card">
              <h2>{{ plan.planName }}</h2>

              <p class="price">
                <span>{{ plan.price }}</span
                >/ Month
              </p>
              <ul class="pricing-offers">
                <li>Have {{ plan.deviceLimit }} devices all at once!</li>
              </ul>

              <a
                class="btn btn-primary btn-lg"
                (click)="onOpenModal(plan, 'add')"
                style="
                  font-size: 1.6rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
                >Add Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!---------------------Add Plan Modal---------------------------->
  <div
    class="modal fade"
    id="addModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" style="max-height: 80%">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Are you sure you want to add this Plan?
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm">
            <div class="form-group">
              <label for="planName">Name</label>
              <input
                readonly
                type="text"
                ngModel="{{ editPlan?.planName }}"
                name="planName"
                class="form-control"
                id="planName"
                placeholder="Plan Name"
                required
              />
            </div>
            <div class="form-group">
              <label for="deviceLimit">Device Limit</label>
              <input
                readonly
                type="number"
                ngModel="{{ editPlan?.deviceLimit }}"
                name="deviceLimit"
                class="form-control"
                id="deviceLimit"
                placeholder="Device Limit"
                required
              />
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input
                readonly
                type="number"
                ngModel="{{ editPlan?.price }}"
                name="price"
                class="form-control"
                id="price"
                placeholder="Price"
                required
              />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                id="add-plan-form"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                [disabled]="addForm.invalid"
                type="submit"
                class="btn btn-primary"
                (click)="onAddPlan(addForm.value)"
              >
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!---------------------Delete Plans Modal---------------------------->
  <div
    class="modal fade"
    id="deletePlanModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" style="max-height: 80%">
      <div class="modal-content" id="deleteModalContent">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Plan</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete this Plan:
            {{ deletePlan?.planName }}?
          </p>

          <div class="modal-footer">
            <button
              type="button"
              id="delete-plan-form"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              No
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="onDeletePlan(deletePlan?.id)"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!---------------------Active Plans Table---------------------------->
  <div class="contain">
    <div class="card">
      <div class="card-header"><b>Active Plans</b></div>
      <div class="card-body">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Device Limit</th>
              <th>Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let currentPlan of currentPlansList">
            <tr>
              <td>{{ currentPlan.planName }}</td>
              <td>{{ currentPlan.deviceLimit }}</td>
              <td>{{ currentPlan.price }}</td>
              <td>
                <button
                  style="display: block; margin: auto"
                  (click)="onOpenModal(currentPlan, 'delete')"
                  class="btn btn-outline-danger"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash3-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
          <tr>
            <td><b>Totals</b></td>
            <td>
              <b>{{totalDevices}}</b>
            </td>
            <td>
              <b>$ {{total}}</b>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!---------------------Error---------------------------->
  <div style="height: 40px; position: fixed; bottom: 1.5%; width: 100%">
    <ng-container *ngIf="open_error">
      <div
        class="alert alert-danger d-flex alert-dismissible fade show"
        role="alert"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
          viewBox="0 0 16 16"
          role="img"
          aria-label="Warning:"
        >
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
          />
        </svg>
        <strong>You already have that plan! &nbsp;</strong> Please add a
        different plan.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </ng-container>
  </div>
</div>
