<section class="pricing-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-xl-5 col-lg-6 col-md-8">
        <h2
          class="section-title text-center title-ex1"
          style="margin-bottom: 3rem"
        >
          <u>Welcome {{userName}}!</u>
        </h2>
        <div class="section-title text-center title-ex1">
          <h2>Our Devices!</h2>
        </div>
      </div>
    </div>

    <!---------------------Devices Table---------------------------->
    <div class="container" id="main-container">
      <div class="row">
        <div *ngFor="let device of devicesList" class="col-md-4">
          <div class="price-card">
            <h2>{{ device.make }} {{ device.model }}</h2>
            <img
              src="../../assets/SamsungGalaxyPic.jpg"
              *ngIf="device.model === 'Galaxy'"
            />
            <img
              src="../../assets/Iphone13Pic.jpg"
              *ngIf="device.model === '13'"
            />
            <img
              src="../../assets/Pixel6Pic.jpg"
              *ngIf="device.model === '6'"
            />
            <img
              src="../../assets/SamsungZFlipPic.jpg"
              *ngIf="device.model === 'ZFlip'"
            />
            <img
              src="../../assets/Pixel5Pic.jpg"
              *ngIf="device.model === '5'"
            />
            <img
              src="../../assets/Iphone12Pic.jpg"
              *ngIf="device.model === '12'"
            />

            <button
              [disabled]="numDevices >= deviceLimit"
              class="btn btn-primary btn-lg"
              (click)="onOpenModal(device, 'add')"
              style="
                font-size: 1.6rem;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              Add Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!---------------------Active Devices Table---------------------------->
<div class="contain">
  <div class="card">
    <div class="card-header"><b>Active Devices</b></div>
    <div class="card-body">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Phone Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let currentDevice of currentDevicesList">
          <tr>
            <td>{{ currentDevice?.make }}</td>
            <td>{{ currentDevice?.model }}</td>
            <td>
              {{ currentDevice?.phoneNumber }}

              <button
                *ngIf="currentDevice?.phoneNumber"
                (click)="NullOurPhoneNum(currentDevice)"
                type="button"
                class="btn btn-outline-danger"
              >
                Remove
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-telephone"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                  />
                </svg>
                #
              </button>
            </td>
            <td align="center">
              <button
                (click)="onOpenModal(currentDevice, 'edit')"
                type="button"
                class="btn btn-primary float-right"
                style="margin: 1rem"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </button>

              <button
                (click)="onOpenModal(currentDevice, 'delete')"
                type="button"
                class="btn btn-outline-danger float-right"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash3-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!---------------------Add Device Modal---------------------------->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="max-height: 80%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Are you sure you want to add this Device?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addFormGroup" #addForm="ngForm">
          <div class="form-group">
            <label for="make">Make</label>

            <input
              readonly
              formControlName="make"
              class="form-control"
              ngModel="{{ addDevice?.make }}"
              type="text"
              name="make"
              class="form-control"
              id="make"
              placeholder="Make"
              required
            />
          </div>
          <div class="form-group">
            <label for="model">Model</label>
            <input
              readonly
              formControlName="model"
              ngModel="{{ addDevice?.model }}"
              type="text"
              name="model"
              class="form-control"
              id="model"
              placeholder="Model"
              required
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              id="add-plan-form"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="onCloseAdd()"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="onAddDevice(addForm.value)"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!---------------------edit Device Modal---------------------------->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="max-height: 80%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Device</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editFormGroup" #editForm="ngForm">
          <input
            type="hidden"
            class="form-control"
            formControlName="id"
            ngModel="{{ editDevice?.id }}"
            name="id"
            id="id"
            placeholder="id"
          />
          <div class="form-group">
            <label for="make">Make</label>
            <input
              formControlName="make"
              class="form-control"
              ngModel="{{ editDevice?.make }}"
              type="text"
              name="make"
              id="make"
              placeholder="Make"
              required
            />
          </div>
          <div class="form-group">
            <label for="model">Model</label>
            <input
              formControlName="model"
              ngModel="{{ editDevice?.model }}"
              type="text"
              name="model"
              class="form-control"
              id="model"
              placeholder="Model"
              required
            />
          </div>

          <div class="form-group">
            <label for="phoneNumbers">Phone Number</label>
            <select formControlName="phoneNumber">
              <option>{{ nullValue }}</option>
              <option *ngFor="let phone of userPhoneNumberList">
                <ng-container *ngIf="phone?.phoneNumber">
                  {{ phone?.phoneNumber }}
                </ng-container>
              </option>
            </select>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              id="edit-plan-form"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="onEditDevice(editForm.value)"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!---------------------Delete Devices Modal---------------------------->
<div
  class="modal fade"
  id="deleteDevicesModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="max-height: 80%">
    <div class="modal-content" id="deleteModalContent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Device</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete your
          {{ deleteDevice?.make }} {{ deleteDevice?.model }}?
        </p>

        <div class="modal-footer">
          <button
            type="button"
            id="delete-plan-form"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            No
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="onDeleteCurrentDevice(deleteDevice?.id)"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------Error---------------------------->
<ng-container *ngIf="open_error">
  <div
    class="alert alert-danger d-flex alert-dismissible fade show"
    role="alert"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
      viewBox="0 0 16 16"
      role="img"
      aria-label="Warning:"
    >
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      />
    </svg>
    <strong>That phone number already exists! &nbsp;</strong> Please use a
    different number or you can choose one later!
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</ng-container>
